.title {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #333;
    text-align: center;
}

.container-left {
  display: inline-block;
  width: 15%;
}

form input[type="text"] {
  width: 90%;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 2px solid lightgray;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 10px;
}

.result {
  width: 96%;
  height: 300px;
}

textarea {
    width: 39%;
    height: 174px;
    resize: both;
    display: inline-block;
    vertical-align: top;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 0 10px;
}

form {
text-align: center;
display: inline;
}

input[type="submit"] {
display: block;
margin: 10px auto;
width: 50%;
font-family: Arial, sans-serif;
font-size: 16px;
padding: 10px;
border: none;
border-radius: 5px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
background-color: #4caf50;
color: white;
cursor: pointer;
}

.button {
display: block;
text-align: center;
margin: 10px auto;
width: 10%;
font-family: Arial, sans-serif;
font-size: 16px;
padding: 10px;
border: none;
border-radius: 5px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
background-color: red;
color: white;
cursor: pointer;
}

input[type="submit"]:hover {
background-color: #3d8b40;
}